<footer>
    <div class="footer">
        <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-12"><a href=""></a><img src="/app/images/dest/logo__footer.svg" alt=""></a></div>
            <div class="col-xl-4 col-md-12">
                <div class="footer__social">
                    <img src="images/dest/twitter.svg" alt="" class="footer__img">
                    <img src="images/dest/facebook.svg" alt="" class="footer__img">
                    <img src="images/dest/linkedin.svg" alt="" class="footer__img">
                </div>
            </div>
            <div class="col-xl-4 col-md-12">
                <p class="footer__copyright">Just type what's on your mind and we'll </p>
            </div>
        </div>
    </div>
    </div>
</footer>